.header_parent {
    margin-top: 20px;
}

.image {
    width: 30px;
    border-radius: 5px;
    height: 30px;
}

.heading {
    display: flex;
    align-items: center;
    color: #414141;
}

.india {
    padding: 0px 0.4em;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.6em;
}

.covid {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    margin-top: 3px;
    color: rgb(49, 49, 49);
}