.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* margin: 1em 0em; */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.navbar::-webkit-scrollbar,
.nav::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}




.navImg {
  color: white;
  fill: white;
  margin-right: 0.5em;
}

.navImg>img {
  width: 18px;
}



.isNotSelected {
  color: white;
  padding: 0.6em 0.8em;
  border-radius: 10px;
}

.isSelected {
  color: #354394;
  background: white;
  padding: 0.6em 0.6em;
  border-radius: 5px;
  margin: 5em 0em;
}

.navIconNotSelected {
  fill: white;
  width: 1.4em;
}

.navIconNotSelected>svg,
.navIconSelected>svg {
  width: 1.8em;
  padding-right: 0.2em;
}

.navIconSelected {
  width: 1.4em;
  fill: #354394;
}

.disabled {
  display: none;
  fill: white;
}