.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* margin: 1em 0em; */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.navbar::-webkit-scrollbar,
.nav::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.nav {
  display: flex;
  background-color: #4e60c2;
  border-radius: 15px;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* margin: 1em 0em; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  align-items: center;
}

.navImg {
  color: white;
  fill: white;
  margin-right: 0.5em;
}

.navImg>img {
  width: 18px;
}

.nav>span {
  margin: 0em 1em;
  text-transform: uppercase;
  flex: 0 0 auto;
  font-size: 0.6em;
  font-family: metronic;
  font-weight: 700;
  margin: 1em 1em;
}

.isNotSelected {
  color: white;
  padding: 0.6em 0.8em;
  border-radius: 10px;
}

.isSelected {
  background: white;
  color: #4e60c2;
  padding: 0.6em 1em;
  border-radius: 5px;
  margin: 5em 0em;
}