.prevention {
  background: #612EEF;
  display: flex;
  overflow: visible;
  border-radius: 16px;
}
.image > img {
  width: 50%;
  overflow: visible;
  transform: scale(1.5);
  margin-left: 15%;
}
.titles {
  color: white;
  align-content: center;
  /* display: flex; */
  /* Hacks for days! */
  margin: auto;
  margin-left: 0px;
  line-height: 1;
}
.block {
  display: block;
}
.maintitle {
  font-family: metronic;
  font-weight: 800;
  font-size: 1.4em;
  display: block;
}
.subtitle {
  font-family: metronic;
  font-size: 0.8em;
}

.button {
  display: flex;
  align-items: center;
}

.btnbg {
  width: 40px;
  height: 40px;
  background: #ffffff56;
  border-radius: 50%;
  display: flex;
}
.btnbg > img {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
}
